<section id="time" class="mb-5 mt-5">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 mx-auto">
          <div class="card_time">
            <div class="card">
              <div class="card-body text-center">
                <form #formTime="ngForm" (ngSubmit)="showTime(formTime)">
                    <h1 class="h3 mb-3 font-weight-normal">Time</h1>
                    <div class="form-group">

                      <label for="appt-time">Selecciona la hora que deseas calcular </label>
                      
                      <input type="time" id="hora" name="hora" class="form-control" placeholder="12:00:00" 
                      [(ngModel)]="time.hora" step="2" required>
                    </div>
                    <div class="form-group">
                        <input type="number" id="utc" name="utc" class="form-control" placeholder="UTC" 
                      [(ngModel)]="time.timezone" min="-12" max="14" required>
                    </div>
                    <button type="submit" class="btn btn-lg btn-primary btn-block">Enviar</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>