<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">EJERCICIOS PRUEBA TUTEN</h1>
    <div class="box">
    <p>Esta pagina, contiene el desarrollo del ejercicio 3 , parte I y II . Ademas, en la pestaña "Ejercicio 2"
       accede a la opcion de ingresar el tiempo para el calculo gestionado por el servicio web, en caso que este
       este corriendo. Los resultados entregados por el servicio web son visualizados por consola.

    </p>
  </div>
  </div>
</div>